@{
    ViewBag.Title = "Administración Geoportal";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="list-group">
    
    <a href="../Catalogo/" class="list-group-item">
        <h4 class="list-group-item-heading">Catalogos</h4>
        <p class="list-group-item-text">Permite administrar(Ver, Adicionar, Editar, Borrar, Asignar Permisos) el listado de CATALOGOS</p>
    </a>
    <a href="../Tematicas/" class="list-group-item">
        <h4 class="list-group-item-heading">Tematicas</h4>
        <p class="list-group-item-text">Permite administrar(Ver, Adicionar, Editar, Borrar, Asignar Permisos) el listado de TEMAS</p>
    </a>
    <a href="../Grupos/" class="list-group-item">
        <h4 class="list-group-item-heading">Grupos</h4>
        <p class="list-group-item-text">Permite administrar(Ver, Adicionar, Editar, Borrar) el listado de GRUPOS</p>
    </a>
    <a href="../Mapas/" class="list-group-item">
        <h4 class="list-group-item-heading">Mapas y Visores</h4>
        <p class="list-group-item-text">Permite administrar(Ver, Adicionar, Editar, Borrar) el listado de MAPAS Y VISORES</p>
    </a>
    <a href="../TipoSrv/" class="list-group-item">
        <h4 class="list-group-item-heading">Estandard de Geoservicios</h4>
        <p class="list-group-item-text">Permite administrar(Ver, Adicionar, Editar, Borrar) el listado de ESTANDARD DE LOS GEOSERVICIOS</p>
    </a>
    <a href="../Servicios/" class="list-group-item">
        <h4 class="list-group-item-heading">Geoservicios</h4>
        <p class="list-group-item-text">Permite administrar(Ver, Adicionar, Editar, Borrar) el listado de GEOSERVICIOS</p>
    </a>
    <a href="../Carrusel/" class="list-group-item">
        <h4 class="list-group-item-heading">Carrusel</h4>
        <p class="list-group-item-text">Permite administrar(Ver, Adicionar, Editar, Borrar) el listado de IMAGENES</p>
    </a>
    <a href="../Panel/" class="list-group-item">
        <h4 class="list-group-item-heading">Panel</h4>
        <p class="list-group-item-text">Permite administrar(Ver, Adicionar, Editar, Borrar) el listado de PANELES</p>
    </a>
    <a href="../Enlaces/" class="list-group-item">
        <h4 class="list-group-item-heading">Enlaces de panel</h4>
        <p class="list-group-item-text">Permite administrar(Ver, Adicionar, Editar, Borrar) el listado de ENLACES DEL PANEL</p>
    </a>
</div>